<div id="controls" class="animated">
        <div id="controls-left">
            <div id="playback">
                <a id="play-pause" class="waves-effect waves-red btn-flat"><i class="material-icons control">play_arrow</i></a>
            </div>
            <div id="time" class="collapsed"></div>
            <div id="progress"></div>
        </div>
        <div id="controls-right">
            <div id="duration" class="collapsed"></div>
            <div id="volume">
                <a id="volume-btn" class="waves-effect waves-red btn-flat"><i class="material-icons control">volume_mute</i></a>
                <div id="volume-popup" class="collapsed"><div id="volume-control-container"></div></div>
            </div>
            <div id="settings">
                <a id="settings-btn" class="waves-effect waves-red btn-flat"><i class="material-icons control">settings</i></a>
            </div>
            <div id="fullscreen">
                <a id="fullscren-toggle-btn" class="waves-effect waves-red btn-flat"><i class="material-icons control">fullscreen</i></a>
            </div>
        </div>
    </div>