    <div id="headers-form" class="row collapsed input-popup">
        <form class="col s12">
            <div class="row">
                <div class="input-field col s5">
                    <input type="text" id="header-name">
                    <label for="header-name">Header</label>
                </div>
                <div class="input-field col s5">
                    <input type="text" id="header-value">
                    <label for="header-value">Value</label>
                </div>
                <div class="input-field col s1">
                    <button id="add-header-btn" class="waves-effect waves-light btn" type="button">
                        Add
                      <i class="material-icons right">playlist_add</i>
                    </button>
                </div>
                <div class="input-field col s1">
                    <a data-target="headers_form" class="close-input waves-effect waves-red btn-flat"><i data-target="headers_form" class="material-icons control">keyboard_arrow_up</i></a>
                </div>
            </div>
            <div class="row">
                <ul id="header-list-view">
                </ul>
            </div>
            <div class="input-field row">
                <button id="headers-reload-player-btn" class="waves-effect waves-light btn" type="button">
                    Reload
                    <i class="material-icons right">playlist_add</i>
                </button>
            </div>
        </form>
    </div>