<head>
    <meta charset="UTF-8"> 
    <script src="state_machine.js"></script>
    <script src="libs/jquery-3.3.1.min.js"></script>
    <!-- {% if env['target'] == 'firefox' %} -->
    <script src="libs/dash.all.min.js"></script>
    <script src="libs/hls.min.js"></script>

    <!-- {% endif %} -->
    <script src="libs/hasplayer.min.js"></script>
    <script src="libs/materialize/js/materialize.min.js"></script>
    <script src="range.js"></script>
    <script src="dropdown.js"></script>
    <script src="globals.js"></script>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="libs/animate.min.css">
    <link rel="stylesheet" href="libs/materialize/css/materialize.min.css">
    <link rel="stylesheet" href="libs/materialize/css/icons.css">
</head>