    <div id="settings-form" class="animated collapsed white-bg">
        <ul id="settings-form-list">
            <li>
                <a id="media-url-toggle-btn" class="waves-effect waves-red btn-flat">Change Media URL</a>
            </li>
            <li>
                <a id="subtitles-toggle-btn" class="waves-effect waves-red btn-flat">Link Subtitles</a>
            </li>
            <li>       
                <a id="la-url-toggle-btn" class="waves-effect waves-red btn-flat">Change License URL</a>
            </li>
            <li>
                <a id="headers-toggle-btn" class="waves-effect waves-red btn-flat">Add request headers</a>
            </li>
            <li>
                <div id="playback-speed-selection">
                </div>
            </li>
            <li>
                <div id="bitrate-selection">
                </div>
            </li>
        </ul>
    </div>